//-------------
// Forum

//-------------
// Bouton accueil
.header-color{
  color: $clair;
  background: $fonce;
}


svg {
  width: 24px;
  height: 24px;
}

.forum-page{
  margin-top: 20px;
}

.forum-sidebar{
  -ms-flex: 0 0 200px;
  flex: 0 0 200px;
  ul{
    list-style: none;
  }
}

.tag-children>li>a{
  padding-left: 0 !important;
  background: $clair;
}
// Sujet résolu
.is-solved .forum-avatar::before,
.is-solved .forum-avatar::after {
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  opacity: .7;
  background: var(--green);
}
.is-solved .forum-avatar::after {
  opacity: 1;
  background: url(../../images/check.svg) center center / 50% 50% no-repeat;
}

.forum-topic__body {
  position: relative;
}

@media (max-width: 690px) {
  .forum-sidebar {
    display: none;
  }
}

// Listing sujet
// =============
.forum-topic {
  display: grid;
  grid-template-columns: 40px 1fr 30px;
  grid-gap: 16px;
  padding: 16px;
  position: relative;
  transition: .3s;
}

.forum-topic a {
  position: relative;
  z-index: 3;
}
.forum-topic:hover {
  background: lighten($fonce, 40%);
  box-shadow: 0 2px 4px $fonce;
}
.forum-topic__title {
  display: block;
  margin-right: 100px;
  font-weight: bold;
  font-family: cursive;
  line-height: 1.3;

  .forum-topic:hover & {
    color: $fonce;
  }
}