//-------------
// Forum

//-------------
// Bouton accueil
.closeHero{
  position: absolute;
  right: 5px;
  top:5px;
}

.heroheader{
  border-top: 1px solid #999;
  border-left: 1px solid #999;
  box-shadow: 1px 1px 5px black;
}

svg {
  width: 20px;
  height: 20px;
}

.forum-page{
  margin-top: 20px;
}

.forum-sidebar{
  list-style: none;
}